{% extends "base.html" %}

{% block content %}

<div class="form-group" id="user_input">
  <!--action must be determined and must locate the python file, in which the users inputs needed-->
  <form method='POST'>
    <p>From:</p> <input type="text" class="form-control" id="from" name="from">
    <p>To:</p> <input type="text" class="form-control" id="to" name="to"><br>
    <div class="dropdown">
      <select class="btn btn-secondary dropdown-toggle" name="dropdowncars" id="drop_downcars">
      </select>
    </div><br><br>
    <input type="submit" class="btn btn-success" id='trigger' value="See which one is the cheapest!" />
  </form>
</div>

{% if post %}
<div id="output_screen">
  <table id="post" class="table">
    <thead>
      <tr>
        <th></th>
        <th>If you choose going by <br> <p style='color:red;'>car:</p></th>
        <th>If you choose going with <br> <p style="color:green;">public transport:</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Monthly</th>
        <th>{{ car_monthly }}</th>
        <th>{{ public_transport_monthly }}</th>
      </tr>
      <tr>
        <th>Daily</th>
        <th>{{ car_daily }}</th>
        <th>{{ public_transport_daily }}</th>
      </tr>
    </tbody>
  </table>
  <!-- dropdown menu -->
</div>

{% endif %}

<script>
    $(".form-control").css("width","100%")
    $("#user_input").css({"left":"40%","top":"10%"})
    $("#trigger").css("border-radius","25%")
    $("#output_screen").css({"top":"60%","left":"30%"})
    var stations= $("#stations").val();
    stations = {{stations | tojson}};

    var boolean = {{alert_user | tojson}}

    if( boolean == true){
        window.alert("Please check, if you wrote the name of the stations correctly.")
    }
    console.log(stations)
    //{{stations == ""}}
    $( function() {
        //var stations = ['Istanbul','Malatya','Marienplatz','Ismanning','Frötmanning']
        $( "#from" ).autocomplete({
            source :stations
        });
        $("#to").autocomplete({
            source: stations
        })
        $(".ui-helper-hidden-accessible").hide()
    } );
    var cars = ["Small Car","Family Car","SUV","Family Bus","Pickup"]
    for(var i = 0; i <cars.length; i++){
        $("#drop_downcars").append("<option>"+cars[i]+"</option>")
    }
    $(".clickcar").click(function(){
        $("#model").replaceWith("<p id='model'>"+this.id+"</p>")
    })
    /*function get_rid(sta){

    }*/
</script>

{% endblock %}
